<form method="post" action="/puppy">
  <p>Puppy Name: <input type="text" input="name" name="name"></p>
  <p> Puppy Breed:  <input type="text" input="breed" name="breed"></p>
  <p> Puppy Age: <input type="text" input="age" name="age"></p>
  <input type="submit" id="submit">
</form>
